*.o
*.mo
aclocal.m4
autom4te.cache/*
configure
icewm.lsm
icewm.spec
src/config.h.in

Makefile
config.log
config.status
lib/keys
lib/menu
lib/programs
lib/toolbar
lib/winoptions
po/Makefile
src/Makefile
src/config.h

lib/preferences
src/genpref
src/icehelp
src/icesh
src/icewm
src/icewm-session
src/icewmbg
src/icewmhint
src/icewmtray
